.image-style {
    width: 250px;
    height: 250px;
  }
  
.ConversionlistStyle{
    width: 250px;
    height: 250px;
    border-color : red,
}

.hstyle {
  height : 100%;
}

.center {
  text-align: center;
}

.recent-chat {
  background-color: aquamarine;
  height: 200px;
}