.cardd-container {
    border-radius: 10px;
    margin: 5px 10px 5px 10px;
    background-color: gainsboro;
    width: 370px;
    height: 70px;
    position: relative;
    overflow-wrap: break-word;
    // flex-wrap: wrap;
    // flex-direction: column;
}

.message-container {
    flex: 0.1;
    flex-direction: column;
    flex-wrap: wrap;
}
