.managejob-div-container {
    width: fit-content;
    max-width: 1000px;
    margin: 0px auto;
    //background-color: #99753f;
    //background-image: linear-gradient(to right,#10344e, #0644a0, #0557ac);
    padding: 40px;
    border: 1px solid
  }
  