.form-container{
    width:400px;
    margin:0 auto;
}

.font-signup {
    color: rgb(14, 0, 90);
    font-size : 13px;
}

.font-newhere {
    color:rgb(113, 113, 116);
    font-size : 13px;
}

.photo_size {
    width : 250px; 
}

.Login_backgroud {
    background-color: #8d989b;
}
