.form-container{
    width:400px;
    margin:0 auto;
}

.font-signup {
    color: rgb(24, 163, 228);
    font-size : 13px;
}

.font-newhere {
    color:rgb(249, 249, 250);
    font-size : 13px;
}

.photo_size {
    width : 250px; 
}

.Login_backgroud {
    background-color: #1f4f72;
}

.font-login {
    color: white;
}