.nav-container{
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;

}
.nav-spacer{
    padding-top:50px;
}

.font-style {
    color: white;
    &:hover{
        color:rgb(113, 230, 157);
    }
}


.logo-container {
    width: 30%;
    justify-content: flex-start;
}

.search-container {
    width: 40%;
    justify-content: center;
}

.profile-container {
    width :30%;
    justify-content: flex end;
}