.register-form-container {
  width: fit-content;
  max-width: 650px;
  margin: 60px auto;
  background-color: lightgray;
  padding: 40px;
}
.nav-link {
  cursor: pointer;
}

input:invalid + span:after , .validity{
  position: absolute;
  content: "*incorrect format";
  padding: 5px;
  color: #8b0000;
  line-height: 12px;
  font-size: 10px;
}

